﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Contoso University</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="oi oi-people" aria-hidden="true"></span> Students
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="oi oi-pencil" aria-hidden="true"></span> Courses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="instructors">
                <span class="oi oi-person" aria-hidden="true"></span> Instructors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="departments">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Departments
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
