﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso University</h1>
    <p>Default users are only allowed read only mode. To edit the records, please login to your account.</p>
    <form method="post">
        <input type="submit" value="@Model.AuthButtonLabel" class="btn btn-primary" />
    </form>
</div>
