﻿@page "/instructors/create/"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;
@using System.Text.Json;

<h3>Create</h3>

@if (Instructor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Instructor" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <InputText @bind-Value="Instructor.FirstMidName" class="form-control" />
                    <ValidationMessage For="@(() => Instructor.FirstMidName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <InputText @bind-Value="Instructor.LastName" class="form-control" />
                    <ValidationMessage For="@(() => Instructor.LastName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Hired Date</label>
                    <InputDate @bind-Value="Instructor.HireDate" class="form-control" />
                    <ValidationMessage For="@(() => Instructor.HireDate)"></ValidationMessage>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
            <div>
                <br />
                <br />
                <a href="./instructors/">Back to List</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Instructor Instructor;

    protected override void OnInitialized()
    {
        Instructor = new Instructor();
        Instructor.HireDate = DateTime.Now;
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.PostAsync(httpClientFactory, JsonSerializer.Serialize(Instructor), Constants.INSTRUCTORS);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/instructors");
        }
    }
}

