﻿@page "/instructors/delete/{id}"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;

<h3>Delete</h3>
@if (Instructor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @Instructor.LastName
            </dd>
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @Instructor.FirstMidName
            </dd>
            <dt class="col-sm-2">
                Hired Date
            </dt>
            <dd class="col-sm-10">
                @Instructor.HireDate
            </dd>
        </dl>
    </div>
    <EditForm Model="@Instructor" OnValidSubmit="@HandleSubmit">
        <button type="submit" class="btn btn-danger">Delete</button>
    </EditForm>
    <div>
        <br />
        <br />
        <a href="./instructors/edit/@Instructor.ID">Edit</a> |
        <a href="./instructors/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Instructor Instructor;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.INSTRUCTORS, Id);
        if (results.Response != null)
        {
            Instructor = RequestHelper.Format(results).ToObject<Instructor>();
        }
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.DeleteAsync(httpClientFactory, Constants.INSTRUCTORS + "/" + Instructor.ID);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/instructors");
        }
    }
}
