﻿@page "/instructors/details/{id}"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h3>Details</h3>

@if (Instructor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @Instructor.LastName
            </dd>
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @Instructor.FirstMidName
            </dd>
            <dt class="col-sm-2">
                Hired Date
            </dt>
            <dd class="col-sm-10">
                @Instructor.HireDate
            </dd>
            <dt class="col-sm-2">
                Enrollments
            </dt>
            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                    </tr>
                    @foreach (var item in Instructor.CourseAssignments)
                    {
                        <tr>
                            <td>
                                @item.Course.CourseID
                            </td>
                            <td>
                                @item.Course.Title
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div>
        <a href="./instructors/edit/@Instructor.ID">Edit</a> |
        <a href="./instructors/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Instructor Instructor;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.INSTRUCTORS, Id);
        if (results.Response != null)
        {
            Instructor = RequestHelper.Format(results).ToObject<Instructor>();
        }
    }
}
