﻿@page "/instructors/edit/{id}"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using ContosoUniversity.Entities.ViewModels;
@using System.Net;
@using System.Text.Json;

<h3>Edit</h3>

@if (Instructor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Instructor" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <InputText @bind-Value="Instructor.FirstMidName" class="form-control" />
                    <ValidationMessage For="@(() => Instructor.FirstMidName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <InputText @bind-Value="Instructor.LastName" class="form-control" />
                    <ValidationMessage For="@(() => Instructor.LastName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Hired Date</label>
                    <InputDate @bind-Value="Instructor.HireDate" class="form-control" />
                    <ValidationMessage For="@(() => Instructor.HireDate)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        @if (AssignedCourseDataList != null)
                        {
                            @foreach (var course in AssignedCourseDataList)
                            {
                                @if (course.Assigned)
                                {
                                    <input type="checkbox"
                                           @onchange="eventArgs => { CheckboxClicked(course.CourseID, eventArgs.Value); }"
                                           name="selectedCourses"
                                           value="@course.CourseID"
                                           checked="" />
                                }
                                else
                                {
                                    <input type="checkbox"
                                           @onchange="eventArgs => { CheckboxClicked(course.CourseID, eventArgs.Value); }"
                                           name="selectedCourses"
                                           value="@course.CourseID" />
                                } @course.Title <br />
                            }
                        }
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
            <div>
                <br />
                <br />
                <a href="./instructors/">Back to List</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Instructor Instructor;
    private List<AssignedCourseData> AssignedCourseDataList;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.INSTRUCTORS, Id);
        if (results.Response != null)
        {
            Instructor = RequestHelper.Format(results).ToObject<Instructor>();
        }

        var allCourses = Enumerable.Empty<Course>();
        results = await RequestHelper.GetAsync(httpClientFactory, Constants.COURSES);
        if (results.Response != null)
        {
            allCourses = RequestHelper.FormatList(results).ToObject<IEnumerable<Course>>();
            var instructorCourses = new HashSet<int>(Instructor.CourseAssignments.Select(c => c.CourseID));
            AssignedCourseDataList = new List<AssignedCourseData>();
            foreach (var course in allCourses)
            {
                AssignedCourseDataList.Add(new AssignedCourseData
                {
                    CourseID = course.CourseID,
                    Title = course.Title,
                    Assigned = instructorCourses.Contains(course.CourseID)
                });
            }
        }
    }

    private async Task HandleSubmit()
    {
        string[] selectedCourses = new String[AssignedCourseDataList.Where(item => item.Assigned).ToList().Count()];
        InstructorUpdate update = new();
        update.Instructors = Instructor;

        int index = 0;
        foreach (var course in AssignedCourseDataList)
        {
            if (course.Assigned)
            {
                selectedCourses[index] = course.CourseID.ToString();
                index++;
            }
        }
        update.SelectedCourses = selectedCourses;

        var results = await RequestHelper.PutAsync(httpClientFactory, JsonSerializer.Serialize(update), Constants.INSTRUCTORS + "/" + Instructor.ID);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/instructors");
        }
    }

    private void CheckboxClicked(int CourseID, object checkedValue)
    {
        foreach (var course in AssignedCourseDataList)
        {
            if (course.CourseID == CourseID)
            {
                course.Assigned = (bool)checkedValue;
            }
        }
    }
}
