﻿@page "/instructors/"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h1>Instructors</h1>

@if (Instructors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="./instructors/create">Create</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Hired Date</th>
                <th>Courses</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instructor in Instructors)
            {
            <tr>
                <td>@instructor.FirstMidName</td>
                <td>@instructor.LastName</td>
                <td>@instructor.HireDate</td>
                <td>
                    @foreach (var course in instructor.CourseAssignments)
                    {
                        @course.Course.CourseID @:  @course.Course.Title <br />
                    }
                </td>
                <td>
                    <a href="./instructors/edit/@instructor.ID">Edit</a> |
                    <a href="./instructors/details/@instructor.ID">Details</a> |
                    <a href="./instructors/delete/@instructor.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Instructor> Instructors;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.INSTRUCTORS);
        if (results.Response != null)
        {
            Instructors = RequestHelper.FormatList(results).ToObject<IEnumerable<Instructor>>();
        }
    }
}
