﻿@page "/students/create/"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;
@using System.Text.Json;

<h3>Create</h3>

@if (Student == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Student" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <InputText @bind-Value="Student.FirstMidName" class="form-control" />
                    <ValidationMessage For="@(() => Student.FirstMidName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <InputText @bind-Value="Student.LastName" class="form-control" />
                    <ValidationMessage For="@(() => Student.LastName)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Enrollmente Date</label>
                    <InputDate @bind-Value="Student.EnrollmentDate" class="form-control" />
                    <ValidationMessage For="@(() => Student.EnrollmentDate)"></ValidationMessage>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
            <div>
                <br />
                <br />
                <a href="./students/">Back to List</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Student Student;

    protected override void OnInitialized()
    {
        Student = new Student();
        Student.EnrollmentDate = DateTime.Now;
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.PostAsync(httpClientFactory, JsonSerializer.Serialize(Student), Constants.STUDENTS);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/students");
        }
    }
}

