﻿@page "/students/delete/{id}"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;

<h3>Delete</h3>
@if (Student == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @Student.LastName
            </dd>
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @Student.FirstMidName
            </dd>
            <dt class="col-sm-2">
                Enrollment Date
            </dt>
            <dd class="col-sm-10">
                @Student.EnrollmentDate
            </dd>
        </dl>
    </div>
    <EditForm Model="@Student" OnValidSubmit="@HandleSubmit">
        <button type="submit" class="btn btn-danger">Delete</button>
    </EditForm>
    <div>
        <br />
        <br />
        <a href="./students/edit/@Student.ID">Edit</a> |
        <a href="./students/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Student Student;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.STUDENTS, Id);
        if (results.Response != null)
        {
            Student = RequestHelper.Format(results).ToObject<Student>();
        }
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.DeleteAsync(httpClientFactory, Constants.STUDENTS + "/" + Student.ID);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/students");
        }
    }
}
