﻿@page "/students/details/{id}"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h3>Details</h3>

@if (Student == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @Student.LastName
            </dd>
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @Student.FirstMidName
            </dd>
            <dt class="col-sm-2">
                Enrollment Date
            </dt>
            <dd class="col-sm-10">
                @Student.EnrollmentDate
            </dd>
            <dt class="col-sm-2">
                Enrollments
            </dt>
            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                    @foreach (var item in Student.Enrollments)
                    {
                        <tr>
                            <td>
                                @item.Course.Title
                            </td>
                            <td>
                                @item.Grade
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div>
        <a href="./students/edit/@Student.ID">Edit</a> |
        <a href="./students/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Student Student;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.STUDENTS, Id);
        if (results.Response != null)
        {
            Student = RequestHelper.Format(results).ToObject<Student>();
        }
    }
}
