﻿@page "/students/"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h1>Students</h1>

@if (Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="./students/create">Create</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enrollment Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Students)
            {
                <tr>
                    <td>@student.FirstMidName</td>
                    <td>@student.LastName</td>
                    <td>@student.EnrollmentDate</td>
                    <td>
                        <a href="./students/edit/@student.ID">Edit</a> |
                        <a href="./students/details/@student.ID">Details</a> |
                        <a href="./students/delete/@student.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Student> Students;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.STUDENTS);
        if (results.Response != null)
        {
            Students = RequestHelper.FormatList(results).ToObject<IEnumerable<Student>>();
        }
    }
}
