﻿@page "/departments/delete/{id}"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;

<h3>Delete</h3>
@if (Department == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Department.Name
            </dd>
            <dt class="col-sm-2">
                Budget
            </dt>
            <dd class="col-sm-10">
                @Department.Budget
            </dd>
            <dt class="col-sm-2">
                Administrator
            </dt>
            <dd class="col-sm-10">
                @Department.Administrator.FullName
            </dd>
        </dl>
    </div>
    <EditForm Model="@Department" OnValidSubmit="@HandleSubmit">
        <button type="submit" class="btn btn-danger">Delete</button>
    </EditForm>
    <div>
        <br />
        <br />
        <a href="./departments/edit/@Department.DepartmentID">Edit</a> |
        <a href="./departments/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Department Department;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.DEPARTMENTS, Id);
        if (results.Response != null)
        {
            Department = RequestHelper.Format(results).ToObject<Department>();
        }
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.DeleteAsync(httpClientFactory, Constants.DEPARTMENTS + "/" + Department.DepartmentID);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/departments");
        }
    }
}
