﻿@page "/departments/details/{id}"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h3>Details</h3>

@if (Department == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Department.Name
            </dd>
            <dt class="col-sm-2">
                Budget
            </dt>
            <dd class="col-sm-10">
                @Department.Budget
            </dd>
            <dt class="col-sm-2">
                Administrator
            </dt>
            <dd class="col-sm-10">
                @Department.Administrator.FullName
            </dd>
        </dl>
    </div>
    <div>
        <a href="./departments/edit/@Department.DepartmentID">Edit</a> |
        <a href="./departments/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Department Department;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.DEPARTMENTS, Id);
        if (results.Response != null)
        {
            Department = RequestHelper.Format(results).ToObject<Department>();
        }
    }
}
