﻿@page "/departments/edit/{id}"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;
@using System.Text.Json;

<h3>Edit</h3>

@if (Department == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Department" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label class="control-label">Department Name</label>
                    <InputText @bind-Value="Department.Name" class="form-control" />
                    <ValidationMessage For="@(() => Department.Name)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Budget</label>
                    <InputNumber @bind-Value="Department.Budget" class="form-control" />
                    <ValidationMessage For="@(() => Department.Budget)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Department</label>
                    <InputSelect @bind-Value="Department.InstructorID" class="form-control">
                        <option value="">-Select-</option>
                        @if (Instructors != null)
                            {
                            @foreach (var instructor in Instructors)
                                {
                                <option value="@instructor.ID">@instructor.FullName</option>
                                }
                            }
                    </InputSelect>
                    <ValidationMessage For="@(() => Department.InstructorID)"></ValidationMessage>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
            <div>
                <br />
                <br />
                <a href="./departments/">Back to List</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Department Department;
    private IEnumerable<Instructor> Instructors;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.DEPARTMENTS, Id);
        if (results.Response != null)
        {
            Department = RequestHelper.Format(results).ToObject<Department>();
        }
        Instructors = await CommonQuery.GetInstructors(httpClientFactory);
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.PutAsync(httpClientFactory, JsonSerializer.Serialize(Department), Constants.DEPARTMENTS + "/" + Department.DepartmentID);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/departments");
        }
    }
}
