﻿@page "/departments/"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h1>Departments</h1>

@if (Departments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="./departments/create">Create</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Department</th>
                <th>Budget</th>
                <th>Administrator</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Departments)
            {
                <tr>
                    <td>@department.Name</td>
                    <td>@department.Budget</td>
                    <td>@department.Administrator.FullName</td>
                    <td>
                        <a href="./departments/edit/@department.DepartmentID">Edit</a> |
                        <a href="./departments/details/@department.DepartmentID">Details</a> |
                        <a href="./departments/delete/@department.DepartmentID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Department> Departments;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.DEPARTMENTS);
        if (results.Response != null)
        {
            Departments = RequestHelper.FormatList(results).ToObject<IEnumerable<Department>>();
        }
    }
}
