﻿@page "/courses/create/"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;
@using System.Text.Json;

<h3>Create</h3>

@if (Course == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@Course" OnValidSubmit="@HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label class="control-label">Course ID</label>
                    <InputNumber @bind-Value="Course.CourseID" class="form-control" />
                    <ValidationMessage For="@(() => Course.CourseID)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <InputText @bind-Value="Course.Title" class="form-control" />
                    <ValidationMessage For="@(() => Course.Title)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Credits</label>
                    <InputNumber @bind-Value="Course.Credits" class="form-control" />
                    <ValidationMessage For="@(() => Course.Credits)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="control-label">Department</label>
                    <InputSelect @bind-Value="Course.DepartmentID" class="form-control">
                        <option value="">-Select-</option>
                        @if (Departments != null)
                            {
                            @foreach (var department in Departments)
                                {
                                <option value="@department.DepartmentID">@department.Name</option>
                                }
                            }
                    </InputSelect>
                    <ValidationMessage For="@(() => Course.DepartmentID)"></ValidationMessage>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
            <div>
                <br />
                <br />
                <a href="./courses/">Back to List</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Course Course;
    private IEnumerable<Department> Departments;

    protected override async Task OnInitializedAsync()
    {
        Course = new Course();
        Departments = await CommonQuery.GetDepartments(httpClientFactory);
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.PostAsync(httpClientFactory, JsonSerializer.Serialize(Course), Constants.COURSES);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/courses");
        }
    }
}

