﻿@page "/courses/delete/{id}"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;
@using System.Net;

<h3>Delete</h3>
@if (Course == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Course ID
            </dt>
            <dd class="col-sm-10">
                @Course.CourseID
            </dd>
            <dt class="col-sm-2">
                Title
            </dt>
            <dd class="col-sm-10">
                @Course.Title
            </dd>
            <dt class="col-sm-2">
                Credit
            </dt>
            <dd class="col-sm-10">
                @Course.Credits
            </dd>
            <dt class="col-sm-2">
                Department
            </dt>
            <dd class="col-sm-10">
                @Course.Department.Name
            </dd>
        </dl>
    </div>
    <EditForm Model="@Course" OnValidSubmit="@HandleSubmit">
        <button type="submit" class="btn btn-danger">Delete</button>
    </EditForm>
    <div>
        <br />
        <br />
        <a href="./courses/edit/@Course.CourseID">Edit</a> |
        <a href="./courses/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Course Course;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.COURSES, Id);
        if (results.Response != null)
        {
            Course = RequestHelper.Format(results).ToObject<Course>();
        }
    }

    private async Task HandleSubmit()
    {
        var results = await RequestHelper.DeleteAsync(httpClientFactory, Constants.COURSES + "/" + Course.CourseID);
        if (results.StatusCode == HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("/courses");
        }
    }
}
