﻿@page "/courses/details/{id}"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h3>Details</h3>

@if (Course == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Course ID
            </dt>
            <dd class="col-sm-10">
                @Course.CourseID
            </dd>
            <dt class="col-sm-2">
                Title
            </dt>
            <dd class="col-sm-10">
                @Course.Title
            </dd>
            <dt class="col-sm-2">
                Credit
            </dt>
            <dd class="col-sm-10">
                @Course.Credits
            </dd>
            <dt class="col-sm-2">
                Department
            </dt>
            <dd class="col-sm-10">
                @Course.Department.Name
            </dd>
        </dl>
    </div>
    <div>
        <a href="./courses/edit/@Course.CourseID">Edit</a> |
        <a href="./courses/">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Course Course;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.COURSES, Id);
        if (results.Response != null)
        {
            Course = RequestHelper.Format(results).ToObject<Course>();
        }
    }
}
