﻿@page "/courses/"
@inject IHttpClientFactory httpClientFactory
@attribute [Authorize]

@using ContosoUniversity.Commons;
@using ContosoUniversity.Entities;

<h1>Courses</h1>

@if (Courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="./courses/create">Create</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Title</th>
                <th>Credits</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Courses)
            {
            <tr>
                <td>@course.CourseID</td>
                <td>@course.Title</td>
                <td>@course.Credits</td>
                <td>@course.Department.Name</td>
                <td>
                    <a href="./courses/edit/@course.CourseID">Edit</a> |
                    <a href="./courses/details/@course.CourseID">Details</a> |
                    <a href="./courses/delete/@course.CourseID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Course> Courses;

    protected override async Task OnInitializedAsync()
    {
        var results = await RequestHelper.GetAsync(httpClientFactory, Constants.COURSES);
        if (results.Response != null)
        {
            Courses = RequestHelper.FormatList(results).ToObject<IEnumerable<Course>>();
        }
    }
}
